/* Body */
body {

  background-color: #fbfbda;
}

/* main layout center*/

#mainlayout {
  max-width: 1000px;
  margin: auto;
}


/* headings */
h1{
  color: white;
  font-family: Georgia, serif;
  background: linear-gradient(
  to bottom,
  #172aa3,
  #172aa3 50%,
  #2c42cf 50%,
  #2c42cf
  );
  padding: 10px
}

h2{

  color: #0f3c8e;
  font-family:'Times New Roman', serif;
}

h3{
  color: black;
}

 /* paragraphs */

 p{
   font-family: Arial, sans-serif;
 }

 /* lists */
 li{

   font-family: Arial, sans-serif;
 }




















</html>
